apiVersion: v1
kind: Service
metadata:
  name: {{ test_id }}-decode
  namespace: {{ namespace }}
  labels:
    app: llm-d
    component: inferrecipe-test
    test-id: {{ test_id }}
    architecture: pd
    role: decode
spec:
  selector:
    llm-d.ai/role: decode
    llm-d.ai/test-id: {{ test_id }}
  ports:
    - name: http
      port: 8000
      protocol: TCP
      targetPort: 8000
  type: ClusterIP
