apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_name }}
  namespace: {{ namespace }}
  labels:
    app: inferecipe-optimizer
    component: storage
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ storage_size }}
{% if storage_class %}
  storageClassName: {{ storage_class }}
{% endif %}
