apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ gaie_name | default('gaie-pd-epp') }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ gaie_name | default('gaie-pd-epp') }}
    component: serveit-prereq
    architecture: pd
data:
  {{ config_file | default('pd-config.yaml') }}: |
    apiVersion: inference.networking.x-k8s.io/v1alpha1
    kind: EndpointPickerConfig
    plugins:
    - type: disagg-headers-handler
    - type: always-disagg-pd-decider
    - type: disagg-profile-handler
      parameters:
        deciderPluginName: always-disagg-pd-decider
    - type: prefill-filter
    - type: decode-filter
    - type: approx-prefix-cache-producer
      parameters:
        autoTune: false
        lruCapacityPerServer: {{ lru_capacity | default(4000000) }}
    - type: prefix-cache-scorer
    - type: queue-scorer
    - type: token-load-scorer
    - type: active-request-scorer
    - type: inflight-load-producer
    - type: kv-cache-utilization-scorer
    - type: max-score-picker
{% if prefix_cache_affinity_enabled | default(false) %}
    - type: prefix-cache-affinity-filter
      parameters:
        peakPrefillThroughput: {{ peak_prefill_throughput | default(9866) }}
{% endif %}
    schedulingProfiles:
    - name: prefill
      plugins:
      - pluginRef: prefill-filter
{% if prefix_cache_affinity_enabled | default(false) %}
      - pluginRef: token-load-scorer
        weight: 1
      - pluginRef: prefix-cache-affinity-filter
{% else %}
      - pluginRef: prefix-cache-scorer
        weight: 3
      - pluginRef: queue-scorer
        weight: 2
      - pluginRef: kv-cache-utilization-scorer
        weight: 2
{% endif %}
      - pluginRef: max-score-picker
    - name: decode
      plugins:
      - pluginRef: decode-filter
      - pluginRef: active-request-scorer
        weight: 2
{% if not prefix_cache_affinity_enabled | default(false) %}
      - pluginRef: prefix-cache-scorer
        weight: 3
{% endif %}
      - pluginRef: max-score-picker
