apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ gaie_name | default('gaie-pd-epp') }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ gaie_name | default('gaie-pd-epp') }}
    component: inferecipe-prereq
spec:
  host: {{ gaie_name | default('gaie-pd-epp') }}.{{ namespace }}.svc.cluster.local
  trafficPolicy:
    tls:
      insecureSkipVerify: true
      mode: SIMPLE
