apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ gaie_name | default('gaie-epp') }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ gaie_name | default('gaie-epp') }}
    component: serveit-prereq
    architecture: {{ architecture | default('aggregated') }}
data:
  {{ config_file | default('default-plugins.yaml') }}: |
    apiVersion: llm-d.ai/v1alpha1
    kind: EndpointPickerConfig
    plugins:
    - type: prefix-cache-scorer
    - type: max-score-picker
    - type: single-profile-handler
    schedulingProfiles:
    - name: default
      plugins:
      - pluginRef: max-score-picker
      - pluginRef: prefix-cache-scorer
        weight: 2
