apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ gaie_name | default('gaie-pd-epp') }}
  namespace: {{ namespace }}
  labels:
    component: inferrecipe-prereq
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ gaie_name | default('gaie-pd-epp') }}
subjects:
  - kind: ServiceAccount
    name: {{ gaie_name | default('gaie-pd-epp') }}
    namespace: {{ namespace }}
