apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ gaie_name | default('gaie-pd') }}-{{ namespace }}-epp
  labels:
    component: in-s8-prereq
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ gaie_name | default('gaie-pd') }}-{{ namespace }}-epp
subjects:
  - kind: ServiceAccount
    name: {{ gaie_name | default('gaie-pd-epp') }}
    namespace: {{ namespace }}
