apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ gaie_name | default('gaie-epp') }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ gaie_name | default('gaie-epp') }}
    component: inftune-prereq
    architecture: {{ architecture | default('aggregated') }}
data:
  {{ config_file | default('default-plugins.yaml') }}: |
    apiVersion: inference.networking.x-k8s.io/v1alpha1
    kind: EndpointPickerConfig
    plugins:
    - type: queue-scorer
    - type: kv-cache-utilization-scorer
    - type: prefix-cache-scorer
    - type: metrics-data-source
      parameters:
        scheme: "http"
        path: "/metrics"
        insecureSkipVerify: true
    - type: core-metrics-extractor
    - type: max-score-picker
    schedulingProfiles:
    - name: default
      plugins:
      - pluginRef: queue-scorer
        weight: 2
      - pluginRef: kv-cache-utilization-scorer
        weight: 2
      - pluginRef: prefix-cache-scorer
        weight: 3
