---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: llm-d-modelserver-scc-{{ namespace }}
allowHostDirVolumePlugin: false
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegedContainer: false
allowedCapabilities:
- IPC_LOCK
- SYS_RAWIO
defaultAddCapabilities: null
fsGroup:
  type: RunAsAny
groups: []
priority: null
readOnlyRootFilesystem: false
requiredDropCapabilities: null
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
supplementalGroups:
  type: RunAsAny
users:
- system:serviceaccount:{{ namespace }}:llm-d-modelserver
volumes:
- configMap
- emptyDir
- persistentVolumeClaim
- projected
- secret
- downwardAPI
