---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: llm-d-modelserver-scc-{{ namespace }}
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegedContainer: true
allowedCapabilities:
- IPC_LOCK
- SYS_RAWIO
- SYS_RESOURCE
defaultAddCapabilities: null
fsGroup:
  type: RunAsAny
groups: []
priority: null
readOnlyRootFilesystem: false
requiredDropCapabilities: null
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
supplementalGroups:
  type: RunAsAny
users:
- system:serviceaccount:{{ namespace }}:llm-d-modelserver
volumes:
- '*'
