apiVersion: v1
kind: ServiceAccount
metadata:
  name: llm-d-modelserver
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/component: pd-disaggregation
    app.kubernetes.io/name: llm-d
    deployment-type: pd-disaggregation
    component: in-s8-prereq
