apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: llm-d-modelserver
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/component: pd-disaggregation
    app.kubernetes.io/name: llm-d
    component: inftune-prereq
rules:
  - apiGroups: [""]
    resources: ["pods", "services", "endpoints"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list"]
